.contact_edit
  .row
    - if notice
      %p.alert.alert-info= notice
  .row
    %h4= @contact.name + ' ' + @contact.surname
  .row.contact_edit_form
    = render 'form', contact: @contact
  .row
    = link_to 'Back', url_for(:back), :class => 'btn btn-secondary back_button'
    = link_to 'Contact People', company_contact_people_path, :class => 'btn btn-primary redirect_contacts_button ml-1'
