.user_edit
  .row
    - if notice
      %p.alert.alert-info= notice
  .row
    %h4= @user.name + ' ' + @user.surname
  .row.user_edit_form
    = render 'form', user: @user
  .row
    = link_to 'Back', url_for(:back), :class => 'btn btn-secondary back_button'
    = link_to 'Users', users_path, :class => 'btn btn-primary redirect_users_button ml-1'
