.users
  .row
    - if notice
      %p.alert.alert-info= notice
  .row
    %h3 Users
    = link_to 'Add new user', new_user_path, :class => "btn btn-primary add_new_user"
  .row.users_table_info.mt-1
    %table.table
      %thead.thead-dark
        %th{ :scope => "col" } name
        %th{ :scope => "col" } surname
        %th{ :scope => "col" } date of birth
        %th{ :scope => "col" } login
        %th{ :scope => "col" } role
        %th{ :scope => "col" } actions
      %tbody
        - @users.each do |user|
          - if !user.is_deleted
            %tr
              %td= user.name
              %td= user.surname
              %td= user.date_of_birth
              %td= user.login
              %td= user.role.name
              %td
                = link_to 'Show', user, :class => "btn btn-warning show_user action_button"
                = link_to 'Edit', edit_user_path(user), :class => "btn btn-info edit_user action_button"
                - if can? :delete, @user
                  = link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?'}, :class => "btn btn-danger delete_user action_button"
  .row.justify-content-center
    = will_paginate @users

