.user_show
  .row
    - if notice
      %p.alert.alert-info= notice
  .row
    %h4= @user.name + ' ' + @user.surname
  .row.user_info
    %table.table.table-hover
      %tbody
        %tr
          %th{ scope: "row" } Date of birth
          %th{ scope: "row" }= @user.date_of_birth
        %tr
          %th{ scope: "row" } Login
          %th{ scope: "row" }= @user.login
        - if current_user.role.name == 'admin'
          %tr 
            %th{ scope: "row" } Password
            %th{ scope: "row" }= @user.password_digest #TODO only admin can see hashed pass
        %tr
          %th{ scope: "row" } Role
          %th{ scope: "row" }= @user.role.name
  .row
    = link_to 'Back', url_for(:back), class: 'btn btn-secondary back_button'
    = link_to 'Users', users_path, class: 'btn btn-primary redirect_users_button ml-1'