!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %title CRM - UAM
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'companies', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .wrapper
      - if current_user
        %nav.sidebar
          .sidebar-header
            %h3 CRM
          %ul.list-unstyled.components
            %li
              = link_to 'Users', users_path
            %li
              = link_to 'Companies', companies_path
            %li
              = link_to 'Trade Notes'
            %li
              = link_to 'Contact People'
            %li
              = link_to 'Logout', '/logout', :class => 'text-info'
      %main.content.d-flex.justify-content-center
        .col-12
          = yield


