!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %title CRM - UAM
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .wrapper
      %nav.sidebar
        .sidebar-header
          %h3 CRM
        %ul.list-unstyled.components
          %li
            = link_to 'Users', users_path
          %li
            = link_to 'Roles', roles_path
      %main.content
        = yield


